
.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;

    .action-area{
      margin-bottom: 10px;
    }
  
    .image {
      width: 100%;
      height:150px;
      background-size: cover;
      background-position: center;
      margin-bottom:0px;
    }
  
    .collection-footer {
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding-top:15px;
      padding-left: 7%;
      padding-right: 7%;
      padding-bottom: 11%;
  
      .name {
        width: 90%;
      }
  
      .price {
        width: 10%;
      }
    }
  }