
.collection-item {
    width: 80%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    height: 95%;
    align-items: flex-start;
    position: relative;

    .content{
      margin-top:0px;
      padding-left: 10%;
    }

    .item-name{
      color:black;
    }

  
    .image {
      width: 100%;
      height:180px;
      background-size: cover;
      background-position: center;
    }

    .custom-button{
      width: 80%;
      opacity: .7;
      position: relative;
      z-index: 2;
      margin-bottom: 10px;

    }
  
    .collection-footer {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 14px;
  
      .name {
        width: 90%;
      }
  
      .price {
        width: 10%;
      }
    }
  }