.sign-up-page{
    width: 100%;
    display: flex;
    justify-content: flex;
    padding-top: 10px;
    background: black;
}

.sign-in{
    background-color: black;
    height: 100vw;
    width: 50vw;
    padding-top:0%;
    padding-left: 3%;
    padding-right:10%;
}
p{
    font-size: 12px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}