.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    top: 60px;
    right: 40px;
    z-index: 5;
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }

    .empty-message{
      color: black;
      font-size: 18px;
      margin: auto;
      margin-left: 15px;
    }
  
    button {
      margin-top: auto;
      color: white;
      background: black;
      border: solid black;
    }
  }