body, html {
    height: 100px;
}

span{
  color: red;
}

span:hover{
  color:white;
}

a {
  color: red;
  font-weight: bold;
}

a:hover{
  color: white;
  text-decoration: none;
}

.jumbo-row{
  width: 100%;
  
}
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  // background-image:  url("../../assets/pathum-danthanarayana-kBY8uhuvnT8-unsplash.jpg");
  /* Set a specific height */
  background: white;
  width: 100%;
  height: 400px;
  /* Position and center the image to scale nicely on all screens */
  background-image: url('../../assets/tomato.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 50%;
  position: relative;
  border-radius: 0;
 
}

/* Place text in the middle of the image */
.hero-text {
  color: black;
  font-family: 'Poppins', sans-serif;
  padding-right: 50px;
  font-size: 16px;
  z-index: 2;
}

.hero-btn{
  margin-bottom: 5px;
  background-color: transparent;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  border: 2px solid red;
  color: red;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}

.hero-btn:hover {
  background-color: red;

}

h1{
  padding-top: 5%;
  padding-bottom: 2%;
  font-family: 'Abril Fatface', cursive;
  color: black;
}

p{
  padding-right:10%;
}

.my-photo{
  align-content: flex-end;
  padding-bottom: 5%;
  height: 100%;
}

.prof-pic{
  padding-right: 50%;
  position: relative;
}

