.sign-up{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 10%;
    width: 50vw;
    height: 100%;
    background-color: black;
}

.title{
    margin: 8px 0px;
}